{% extends 'base.html' %}
<link rel="stylesheet" href="static/style.css">
{% block title %}
    {{title}}
{% endblock title %}
{% block content %}
    <h1>Nutrition Assistant Application</h1>
    <img src="static/nut.jpg" alt="nutrition" width=200px>
    <p>Due to the ignorance of healthy food habits, obesity rates are increasing at an alarming speed, and this is reflective of the risks to people’s health.<br> People need to control their daily calorie intake by eating healthier foods, which is the most
        basic method to avoid obesity.<br> However, although food packaging comes with nutrition (and calorie) labels, <b>it’s still not very convenient for people to refer to App-based nutrient dashboard systems</b> which can analyze real-time images of a meal
        and analyze it for nutritional content which can be very handy and improves the dietary habits, and therefore, helps in maintaining a healthy lifestyle.<br> This project aims at building a web App that automatically estimates food attributes such
        as ingredients and nutritional value by classifying the input image of food.<br> Our method employs</p>
        <link rel="stylesheet" href="static/style.css">
        {% endblock content %}